<!DOCTYPE html>
<html >
<head>
    <title>Community Settings</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link href="/css/partials.css" rel="stylesheet" type = "text/css">
    <link href="/css/style.css" rel="stylesheet" type = "text/css">
    <link href="/css/communityInfo.css" rel="stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/openpanel.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body>
<%- include('paritials/topbar.ejs') %>
  <div id="viewscreen" >
  <%- include('paritials/sidenavbar.ejs') %>
    <div id="rightview">
        <div class="row">
          <div class="community-header-top" ></div>    

          <div class="container">
            <div class="col-sm-2 ">
              <img src="<%=newdata.commphoto%>" class="img-communityprofile-pic" >
            </div>

            <a href="/community/communityProfile/<%=newdata._id%>" class="communityprofile-name-pc">
                 <p><%=newdata.name%></p>
            </a>

  <div class="col-sm-2" style="padding-top:5px;float:right">
    <div class="dropdown">
      <button class="btn btn-default commuity-profile-menu-btn" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-right" style="margin-top:40px">

        <li>
          <a href="/community/discussion/<%=newdata._id%>">
            Discussions
          </a>
        </li>
        <li>
          <a href="/community/setting/<%=newdata._id%>">
            Manage Community
          </a>
        </li>
        <li id="hideProfile">
            <a href="/community/info/<%=newdata._id%>">
              Community Info
            </a>
        </li>
        <li>
            <a href="/community/showCommunityMembers/<%=newdata._id%>">
              Community Members
            </a>
        </li>

      </ul>
    </div>
  </div>
</div>

  <center>
      <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:1%;">
  </center>

<div class="container">
  <div style="border-bottom:1px solid #c4c4c4">
    <label style="font-size: 15px;margin-left: 2%;">
      Manage Community
    </label>

    <a href="/community/inviteUser/<%=newdata._id%>" style="float:right;font-weight:600">
      Invite Users
    </a>
  
    <a href="/community/editCommunity/<%=newdata._id%>" id="editCommunityOption" style="float:right;font-weight:600;margin-right:15px;display: block;">
     <p> Edit Community </p>
    </a>
  </div>

  <div class="col-sm-12" >
    <div class="col-sm-3" >

    <div class="panel-body allSidesSoft">

        <a id="UsersShowBtn" onclick="initaliseusers()">
          Users (<%=newdata.commuser.length%>)
        </a>
        <br>

        <a id="ManagerShowBtn" onclick="initalisemanagers()">
          Managers (<%=newdata.commManagers.length%>)
        </a>
        <br>

        <a id="invitedUserShowBtn" onclick="initaliserequests()">
          Requests (<%=newdata.commasktojoin.length%>)
          </a>
        <br>

        <a id="invited" onclick="initaliseinvited()">
          Invited Members (<%=newdata.invited.length%>)
        </a>

    </div>
    <br>
  </div>

  <div class="col-sm-9">
    <div id="comlist"></div>
  </div>

  </div></div></div>

  <div></div></div></div>

<script>

  var commid ="<%= newdata._id %>";
  var email_id ="<%= data.email %>";
  var userCount = "<%=newdata.commuser.length%>";
  var managerCount = "<%=newdata.commManagers.length%>";
  var requestCount = "<%=newdata.commasktojoin.length%>";
  var invitedCount = "<%=newdata.invited.length%>";

$(document).ready(function() {
    initaliseusers();
    initalisemanagersWithOutDom();
})

function initaliseusers() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getUsers");
  xml.setRequestHeader("Content-Type","application/json");
  document.getElementById('comlist').innerHTML=""
  xml.addEventListener("load",function() {
      var data=JSON.parse(xml.responseText);
      if(data.length==0)
        noUser();
      else
        for(i in data)
          addtoUserDOM(data[i],1)

      document.getElementById('UsersShowBtn').style.fontWeight = 'bold';
      document.getElementById('invitedUserShowBtn').style.fontWeight = 'normal';
      document.getElementById('ManagerShowBtn').style.fontWeight = 'normal';
      document.getElementById('invited').style.fontWeight = 'normal';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initaliserequests() {
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getRequest");
  xml.setRequestHeader("Content-Type","application/json");
  document.getElementById('comlist').innerHTML=""
  xml.addEventListener("load",function()  {
    var data=JSON.parse(xml.responseText);
    if(data.length==0)
      noUser();
    else
      for(i in data)
        addtoUserDOM(data[i],3)
      
    document.getElementById('invitedUserShowBtn').style.fontWeight = 'bold';
    document.getElementById('UsersShowBtn').style.fontWeight = 'normal';
    document.getElementById('ManagerShowBtn').style.fontWeight = 'normal';
    document.getElementById('invited').style.fontWeight = 'normal';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initalisemanagers() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
  document.getElementById('comlist').innerHTML=""
  xml.addEventListener("load",function() {
    var data=JSON.parse(xml.responseText);
    if(data.length==0)
      noUser();
    else
      for(i in data)
        addtoUserDOM(data[i],2)
      
    document.getElementById('UsersShowBtn').style.fontWeight = 'normal';
    document.getElementById('invitedUserShowBtn').style.fontWeight = 'normal';
    document.getElementById('ManagerShowBtn').style.fontWeight = 'bold';
    document.getElementById('invited').style.fontWeight = 'normal';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initaliseinvited() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getInvited");
  xml.setRequestHeader("Content-Type","application/json");
  document.getElementById('comlist').innerHTML=""
  xml.addEventListener("load",function() {
    var data=JSON.parse(xml.responseText);
    if(data.length==0)
      noUser();
    else
      for(i in data)
        addtoUserDOM(data[i],4)
      
      document.getElementById('UsersShowBtn').style.fontWeight = 'normal';
      document.getElementById('invitedUserShowBtn').style.fontWeight = 'normal';
      document.getElementById('ManagerShowBtn').style.fontWeight = 'normal';
      document.getElementById('invited').style.fontWeight = 'bold';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initalisemanagersWithOutDom() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
  document.getElementById('comlist').innerHTML=""
  xml.addEventListener("load",function() {
    var data=JSON.parse(xml.responseText);
    for(i in data) {
      if(email_id == data[i].email){
        document.getElementById('hideProfile').setAttribute("style", "display:none");
        document.getElementById('editCommunityOption').style.display = 'none';
      }
    }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function noUser() {

  var div1=document.createElement('div')
  div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div")
  div1.setAttribute("style","margin-top:5px;display:flex;")
  var div3=document.createElement('div')
  div3.setAttribute("class","col-sm-8 col-xs-6 scrollable")
  div3.setAttribute("style", "margin-top: 25px;");
  var a2=document.createElement('p')
  a2.setAttribute("class","comusername")
  a2.innerHTML="There are no Users".bold()
  a2.style.textAlign = 'center'
  div3.appendChild(a2)
  div1.appendChild(div3)
    document.getElementById('comlist').appendChild(div1)
}

function addtoUserDOM(obj,no) {

  obj.commid = commid;
  var div1=document.createElement('div')
  div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div")
  div1.setAttribute("style","margin-top:5px;display:flex;")
  var div2=document.createElement('div')
  div2.setAttribute("class","col-sm-2 col-xs-3")
  div2.setAttribute("style","padding:5px;")
  var a1=document.createElement('a')
  a1.setAttribute("href","")
  var img1=document.createElement('img')
  img1.setAttribute("src",obj.photoname)
  img1.setAttribute("class","community-member-pic")
  img1.setAttribute("id","dpimage")
  img1.setAttribute("style", "width:50px;height:50px;")
  a1.appendChild(img1)
  div2.appendChild(a1)
  div1.appendChild(div2)
  var div3=document.createElement('div')
  div3.setAttribute("class","col-sm-8 col-xs-6 scrollable")
  div3.setAttribute("style", "margin-top: 25px;");
  var a2=document.createElement('a')
  a2.setAttribute("class","comusername")
  a2.innerHTML=obj.name
  a2.setAttribute("href","/community/viewprofile/" + obj._id)
  div3.appendChild(a2)
  div1.appendChild(div3)
  var div4=document.createElement('div')
  div4.setAttribute("class","col-sm-2 col-xs-3")
  div4.setAttribute("style", "margin-top: 25px;")
  var a3=document.createElement('a')
  a3.setAttribute("class","community-user-short-btn")
  a3.setAttribute("style","float:left")
  var i1=document.createElement('i')
  i1.setAttribute("class","fa fa-chevron-up")
  a3.appendChild(i1);
  if(no == 1) {

    a3.onclick=function(){
      $.confirm({
        title: 'Confirm Promote!',
        content: "Do you really want promote this user? " ,
        draggable: true,
        buttons: {
          Yes: {
               btnClass: 'btn-success any-other-class',
                action: function () {
                 btnClass: 'btn-red any-other-class'

                var request = new XMLHttpRequest();
                request.open('POST','/community/addManagerToCommunity');
                request.setRequestHeader("Content-Type","application/json");
                request.send(JSON.stringify(obj))
                request.addEventListener("load",function() {
                  userCount--;
                  managerCount++;
                  document.getElementById('UsersShowBtn').innerHTML = "Users ("+userCount+")";
                  document.getElementById('ManagerShowBtn').innerHTML = "Managers ("+managerCount+")"
                  document.getElementById('comlist').removeChild(div1)
                });      
            }
        },
          No: {
              btnClass: 'btn-danger any-other-class',
               action: function () {}
        },
        }
      });
    }
  }
  if(no == 2) {

     a3.onclick=function(){
        $.confirm({
          title: 'Confirm Demotation!',
          content: "Do you really want demote this manager? " ,
          draggable: true,
          buttons: {
            Yes: {
                 btnClass: 'btn-success any-other-class',
                  action: function () {
                  btnClass: 'btn-red any-other-class'

                  var request = new XMLHttpRequest()
                  request.open('POST','/community/demoteManagerFromCommunity');
                  request.setRequestHeader("Content-Type","application/json");
                  request.send(JSON.stringify(obj))
                  request.addEventListener("load",function() {
                  userCount++;
                  managerCount--;
                  document.getElementById('UsersShowBtn').innerHTML = "Users ("+userCount+")";
                  document.getElementById('ManagerShowBtn').innerHTML = "Managers ("+managerCount+")"
                  document.getElementById('comlist').removeChild(div1)
                  });
              }
          },
            No: {
                btnClass: 'btn-danger any-other-class',
                 action: function () {}
          },
          }
        });
      } 
  }
  if(no == 3) {

    a3.onclick=function(){
    $.confirm({
      title: 'Confirm Addition!',
      content: "Do you really want add this user? " ,
      draggable: true,
      buttons: {
        Yes: {
              btnClass: 'btn-success any-other-class',
              action: function () {
              btnClass: 'btn-red any-other-class'

              var request = new XMLHttpRequest()
              request.open('POST','/community/requestedUserJoinCommunity');
              request.setRequestHeader("Content-Type","application/json");
              request.send(JSON.stringify(obj))
              request.addEventListener("load",function() {
                userCount++;
                requestCount--;
                document.getElementById('UsersShowBtn').innerHTML = "Users ("+userCount+")";
                document.getElementById('invitedUserShowBtn').innerHTML = "Requests ("+requestCount+")";
                document.getElementById('comlist').removeChild(div1)
              });
            }
        },
          No: {
              btnClass: 'btn-danger any-other-class',
               action: function () {}
        },
        }
      });
    }
  }

  if(no == 4)
  {
    a3.setAttribute("style","display:none")
  }

  div4.appendChild(a3)
  var a4=document.createElement('a')
  a4.setAttribute("class","community-user-short-btn")
  a4.setAttribute("style","float:right")
  var i2=document.createElement('i')
  i2.setAttribute("class","fa fa-times")
  a4.appendChild(i2);

  a4.onclick=function(){
      $.confirm({
      title: 'Really want to Remove?',
      content: "Do you really want remove this user? " ,
      draggable: true,
      buttons: {
        Yes: {
             btnClass: 'btn-success any-other-class',
              action: function () {
               btnClass: 'btn-red any-other-class'

                if(no == 1) {

                  var request = new XMLHttpRequest()
                  request.open('POST','/community/leaveCommunity');
                  request.setRequestHeader("Content-Type","application/json");
                  request.send(JSON.stringify(obj))
                  request.addEventListener("load",function()  {
                    document.getElementById('comlist').removeChild(div1)
                    userCount--;
                    document.getElementById('UsersShowBtn').innerHTML = "Users ("+userCount+")";
                  });
                }  
                else if(no == 2)  {

                  var request = new XMLHttpRequest()
                  request.open('POST','/community/leaveCommunityForManagers');
                  request.setRequestHeader("Content-Type","application/json");
                  request.send(JSON.stringify(obj))
                  request.addEventListener("load",function()  {
                    document.getElementById('comlist').removeChild(div1)
                    managerCount--;
                    document.getElementById('ManagerShowBtn').innerHTML = "Managers ("+managerCount+")";
                  }); 
                }
                else if(no == 3) {

                  var request = new XMLHttpRequest()
                  request.open('POST','/community/leaveCommunityForRequestUsers');
                  request.setRequestHeader("Content-Type","application/json");
                  request.send(JSON.stringify(obj))
                  request.addEventListener("load",function()  {
                    document.getElementById('comlist').removeChild(div1)
                    requestCount--;
                    document.getElementById('invitedUserShowBtn').innerHTML = "Requests ("+requestCount+")";
                  }); 
                }
                else if(no == 4) {

                  var request = new XMLHttpRequest()
                  request.open('POST','/community/removeInvitedUser');
                  request.setRequestHeader("Content-Type","application/json");
                  request.send(JSON.stringify(obj))
                  request.addEventListener("load",function() {
                    document.getElementById('comlist').removeChild(div1)
                    invitedCount--;
                    document.getElementById('invited').innerHTML = "Invited Members ("+invitedCount+")";
                  }); 
                }
          }
      },
        No: {
            btnClass: 'btn-danger any-other-class',
             action: function () {}
      },
      }
    });
  }

  div4.appendChild(a4)
  div1.appendChild(div4)
  document.getElementById('comlist').appendChild(div1);

}
</script>

</body>
</html>