<!DOCTYPE html>
<html >
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="/css/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="/css/header.css" rel="stylesheet" type = "text/css">
        <link href="/css/addNewCommunity.css" rel="stylesheet" type = "text/css">
        <link href="/css/communityInfo.css" rel="stylesheet" type = "text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/openpanel.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <link rel="stylesheet" type="text/css" href="/css/trumbowgy.css">
 <style>

    #commHeader
{
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);

}
#first-btn
{
    border: 1px solid #fff !important;
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
    background-color: rgba(255,255,255,0.1) !important;
    margin-left: 100px;
}
#search-btn
{
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #fff;
}

#dpimage
{
    cursor: pointer !important;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

  </style>


    </head>

    <body class="body">
        <% include partials/usertop-bar.ejs %>
        <div id="viewscreen" >
            <% include partials/side-navbar.ejs %>
  
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12" style="padding:0;">


<div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
  
    <center>
        <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
          <a href="" style="color:white">
            
          </a>
        </div>
    </center>

   

</div>

<!-- second -->


<div class="container community-profile-conatiner">
<div class="col-sm-2 col-xs-12 center-mobile pc">
<a href="">
  <img src="<%=newdata.commphoto%>" class="img-communityprofile-pic allSides" style="background:#fff">
</a>
</div>

<div class="col-sm-8 communityprofile-name-pc communityprofile-system">
  <a href="/community/communityProfile/<%=newdata._id%>" class="communityprofile-name-pc">
     <p><%=newdata.name%></p>
  </a>
</div>

<div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">

    
      <li>
          <a href="" class="community-profile-option-btn">
            Discussions
          </a>
      </li>
      
      <li id="hideManage">
          <a href="/community/setting/<%=newdata._id%>" class="community-profile-option-btn">
            Manage Community
          </a>
      </li>
    

      <li id="hideProfile">
          <a href="/community/info/<%=newdata._id%>" class="community-profile-option-btn">
            Community Profile
          </a>
      </li>

      <li>
          <a href="/community/showCommunityMembers/<%=newdata._id%>" class="community-profile-option-btn">
            Community Members
          </a>
      </li>

    </ul>
</div>
</div>


</div>

<!-- third -->

<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>
<style>
  .child-reply-input{
    display: none !important;
  }
</style>

<!--  for -->


<div class="container" style="width:90% !important">
  
</div>
<div class="container discussion-input discussion-container">
  <div class="panel panel-default allSidesSoft" style="border-radius:0;border:1px solid rgb(182, 182, 182) !important;">
    <div class="panel-body" style="padding:5px;background:#f9f9f9;">
      <div class="col-sm-1 col-xs-3">
        <a href="">
          <img src="<%=newdata.commphoto%>" class="discussion-com-profile-pic allSidesSoft" id="dpimage" style="border:2px solid #fff;width: 50px;height: 50px;">
        </a>
      </div>
      <p class="col-sm-11 col-xs-9 discussion-heading" style="margin-top: 20px;font-size: 20px;">
        Start a discussion
      </p>
    </div>


    <div class="panel-body discussion-panel-body">
      <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
        <input type="text" style="width:100%" class="discussion-input-title" name="title" placeholder="Enter a discussion title....." id="discussion_title" autocomplete="off" required="">
      </div>
    </div>

    <div class="panel-body discussion-body" style="display: block;width: 100%;">
        <div class="col-sm-12 col-xs-12" style="padding:0;border-top: 1px solid white;">
          <!--Textarea-->
            <textarea class="discussion-body-textarea" name="details" placeholder="Enter discussion details" id="discussion_details" autocomplete="off" required=""></textarea>
          <!------------>
        </div>

        <div class="link-preview-main col-sm-12 col-xs-12">
          <!-- preview here -->
        </div>
        <div class="tag-conatiner-custom-div">
          <select id="tagEditor" name="tags" class="form-control input-sm select2-multiple select2-hidden-accessible" style="width:100%"  >
            <!--Tags option appended here-->
              <option class="tagSuggestInput">Hello</option>
              <option class="tagSuggestInput">Hey</option>
              <option class="tagSuggestInput">Rid</option>
              <option class="tagSuggestInput">Ram</option>
              <option class="tagSuggestInput">Ji</option>
              <option class="tagSuggestInput">QWE</option>
              <option class="tagSuggestInput">Looo</option>
              <option class="tagSuggestInput">Bye</option>
              <option class="tagSuggestInput">Bro</option>
              <option class="tagSuggestInput">Li</option>
          </select>
        </div>


        <div class="col-sm-12 col-xs-12" style="padding:0; ">
          
          <button class="btn btn-primary" type="submit" style="float:right" id="discussion_post">
            <p class="discussion-post-btn-txt">Post</p>
          
          </button>
        </div>
    </div>
  
  <div class="panel-footer"></div>
  </div>
</div> <!--Header-->  

  <div id="discussionsList">

                    </div>

</div></div></div>


                    <div>
                      
                 </div>
                    </div>
                </div>

            </div>
        </div>

<script type="text/javascript">

  var socket = io();

  var hideManage = document.getElementById('hideManage');
  var commid ="<%= newdata._id %>";
  var email_id ="<%= data.email %>";
  var currentUser = "<%= data.name %>"
  //console.log(currentUser)

$(document).ready(function() {
    initaliseusers();   
    initaliseDiscussions();
    initaliseManagersWithOutDom();
})

function initaliseusers()
{
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getUsers");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
     
      for(i in data)
      {
        addtoUserDOM(data[i])
      }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initaliseDiscussions()
{
    var n = "<%=data.name%>";
    var ob = new Object();
    ob.communityName = "<%=newdata.name%>";

     var xml=new XMLHttpRequest();
  xml.open("POST","/discussion/getDiscussion");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
     //console.log(data)
      for(j in data)
      {
        if(data[j].createdBy == n)
        {
          addtoDiscussionDOM(data[j])
        }
        else
        {
          addtoDiscussionDOMwithOutOptions(data[j])
        }
      }
  })
  xml.send(JSON.stringify(ob));
}


function addtoUserDOM(obj)
{
  if(obj.email == email_id)
  {
     hideManage.setAttribute("style", "display:none");
  }
}

function initaliseManagersWithOutDom()
{
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      for(i in data)
      {
        if(email_id == data[i].email)
           document.getElementById('hideProfile').setAttribute("style", "display:none");
      }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

var discussion_title = document.getElementById('discussion_title');
var discussion_details = document.getElementById('discussion_details');
var tagEditor = document.getElementById('tagEditor');
var discussion_post = document.getElementById('discussion_post');

discussion_post.addEventListener("click",function() {

  if(discussion_title.value == '' || discussion_details.value  == '')
  {
    alert("Field can't be Empty");
  }

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
    var hrs = today.getHours();
    var mins = today.getMinutes();
    var format = "AM";
    if(hrs>12)
    {
        hrs=hrs-12;
        format="PM";
    }
    today = + dd + '-' + getMonths(mm) + '-' + yyyy;
    today = today + " ";
    today = today + "(" + hrs + ':' + mins + '' + format + ")";

  var obj = new Object();
  obj.title = discussion_title.value;
  obj.details = discussion_details.value;
  obj.tag = tagEditor.value;
  obj.communityName = "<%=newdata.name%>";
  obj.createdBy = "<%= data.name %>";
  obj.createdDate = today;
  obj.ownerId = "<%= data.ides %>";
  obj.communityId = commid;
  console.log(obj);

  var request = new XMLHttpRequest();
    request.open('POST',"/discussion/addnewDiscussion");
    request.setRequestHeader("Content-Type","application/json");
    request.send(JSON.stringify(obj))
    request.addEventListener("load",function() {
        console.log("Data Posted Successfully");
        alert("New Discussion Is Registred");
  });  
    location.reload();
})

function addtoDiscussionDOM(obj)
{
  //console.log(obj)
     var div = '<div class="container discussion-container">'
                +'<div class="panel panel-default allSidesSoft" style="background:white;">'
                  +'<div class="dropup" style="margin-right: 10px;">'
                    +'<a class="discussion-dropdown-menu" data-toggle="dropdown" style="float:right !important" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>'
                    +'<ul class="dropdown-menu dropdown-menu-right dropdown-menu-discussion">'
                      +'<li><a class="request-dropdown-options" onclick=deleteDiscussion("'+obj._id+'")>Delete</a></li>'
                      +'<li id=""><a class="request-dropdown-options" onclick="" id="">Feature</a></li>'
                      +'<li id=""><a class="request-dropdown-options" onclick="" id="">Publish to CQ</a></li>'
                    +'</ul>'
                  +'</div>'
                  +'<div class="panel-body" style="padding:0; padding-top:10px;">'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-title">'
                      +'<a class="discussion-title" href="#" target="">'+obj.title+'</a>'
                    +'</div>'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-head"> posted by <a href="/discussion/discussionOwner/'+obj.ownerId+'">'+obj.createdBy +'</a> at '+obj.createdDate +'</div>'
                  +'</div>'
                  +'<div class="panel-body" style="padding:0;padding-top:10px;">'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-content" style="font-size:16px">'+obj.details +'</div>'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-content" style="font-size:16px"  onclick=displayComments("'+obj._id+'")>'+' Comments ' +'</div>'
                    +'<div class="col-sm-6 col-xs-6 col-lg-6 col-md-6 discussion-content" id="enterComments'+obj._id+'" style="visibility: hidden" ><input type="email" class="form-control" id="comment'+obj._id+'" placeholder="Enter Comment" required><br>'
                    +'</div>'
                    +'<button type="submit" value="Add User" class="btn btn-success" id="send'+obj._id+'" onclick=doComment("'+obj._id+'","'+obj.createdBy+'","'+obj.communityId+'") style="visibility: hidden">Submit</button></div>'
                    +'<div class="comments'+obj._id+'"></div>'  
                +'</div>'
              +'</div>';
      $('#discussionsList').append(div);
  }

  function addtoDiscussionDOMwithOutOptions(obj)
  {
    var div = '<div class="container discussion-container">'
                +'<div class="panel panel-default allSidesSoft" style="background:white;">'
                  +'<div class="panel-body" style="padding:0; padding-top:10px;">'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-title">'
                      +'<a class="discussion-title" href="#" target="">'+obj.title+'</a>'
                    +'</div>'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-head"> posted by <a href="/discussion/discussionOwner/'+obj.ownerId+'">'+obj.createdBy +'</a> at '+obj.createdDate +'</div>'
                  +'</div>'
                  +'<div class="panel-body" style="padding:0;padding-top:10px;">'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-content" style="font-size:16px">'+obj.details +'</div>'
                    +'<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 discussion-content" style="font-size:16px"  onclick=displayComments("'+obj._id+'")>'+' Comments ' +'</div>'
                    +'<div class="col-sm-6 col-xs-6 col-lg-6 col-md-6 discussion-content" id="enterComments'+obj._id+'" style="visibility: hidden" ><input type="email" class="form-control" id="comment'+obj._id+'" placeholder="Enter Comment" required><br>'
                    +'</div>'
                    +'<button type="submit" value="Add User" class="btn btn-success" id="send'+obj._id+'" onclick=doComment("'+obj._id+'","'+obj.createdBy+'","'+obj.communityId+'") style="visibility: hidden">Submit</button></div>'
                    +'<div class="comments'+obj._id+'"></div>'  
                +'</div>'
              +'</div>';
      $('#discussionsList').append(div);
  }

function displayComments(disId) {
    //console.log(disId)
    var inp = document.getElementById('enterComments'+ disId)
    inp.setAttribute("style","visibility:visible");
    var subButton = document.getElementById('send'+ disId)
    subButton.setAttribute("style","visibility:visible");

    var ob = new Object();
    ob.discussionId = disId;

    $('.comments'+disId).empty();

    var xml=new XMLHttpRequest();
    xml.open("POST","/discussion/getComments");
    xml.setRequestHeader("Content-Type","application/json");
    xml.addEventListener("load",function()
    {
      var data=JSON.parse(xml.responseText);
      //console.log(data)
      for(j in data)
      {
          // console.log(data[j])
            $('.comments'+ data[j].discussionId).append('<div class="panel-body" style="padding:5px;background:#f9f9f9;">'
          +'<div class="col-sm-1 col-xs-3"><a href="">'
          +'<img src="<%=newdata.commphoto%>" class="discussion-com-profile-pic allSidesSoft" id="dpimage"'
          + 'style="border:2px solid #fff;width: 50px;height: 50px;"></a></div>'
          +'<p class="col-sm-11 col-xs-9 discussion-heading" style="margin-top: 10px;font-size: 18px;">'
        +data[j].commentedBy+'</p><p class="col-sm-11 col-xs-9 discussion-heading" style="font-size: 15px;">'
        +data[j].comment+'</p></div>');
      }
    })
  xml.send(JSON.stringify(ob));
}

  
  function doComment(oa,createBy,commId) {
    //console.log(oa)
      var comment = $('#comment'+ oa).val();
       // var postId = $('#postId').val();
       //console.log(comment)
        if(comment != ''){
            var data = {'comment': comment,'discussionId': oa,'commentedBy' : currentUser,'communityId' : commId};
        $('.comments'+ oa).append('<div class="panel-body" style="padding:5px;background:#f9f9f9;">'
          +'<div class="col-sm-1 col-xs-3"><a href="">'
          +'<img src="<%=newdata.commphoto%>" class="discussion-com-profile-pic allSidesSoft" id="dpimage"'
          + 'style="border:2px solid #fff;width: 50px;height: 50px;"></a></div>'
          +'<p class="col-sm-11 col-xs-9 discussion-heading" style="margin-top: 10px;font-size: 18px;">'
        +currentUser+'</p><p class="col-sm-11 col-xs-9 discussion-heading" style="font-size: 15px;">'
        +comment+'</p></div>');
        $('#comment'+ oa).val('');
        }
        
    socket.emit('comment',data);
  }

  socket.on('comment',function(data){
        console.log(data)
        $('.comments'+ data.discussionId).append('<div class="panel-body" style="padding:5px;background:#f9f9f9;">'
          +'<div class="col-sm-1 col-xs-3"><a href="">'
          +'<img src="<%=newdata.commphoto%>" class="discussion-com-profile-pic allSidesSoft" id="dpimage"'
          + 'style="border:2px solid #fff;width: 50px;height: 50px;"></a></div>'
          +'<p class="col-sm-11 col-xs-9 discussion-heading" style="margin-top: 10px;font-size: 18px;">'
        +data.commentedBy+'</p><p class="col-sm-11 col-xs-9 discussion-heading" style="font-size: 15px;">'
        +data.comment+'</p></div>');
  });

  function deleteDiscussion(ides)
  {
    var filename = ides;
    console.log(filename);
    var request = new XMLHttpRequest();
    request.open('DELETE',"/discussion/deleteDiscussion/" + filename);
    request.send()
    request.addEventListener("load",function(event)
    {
      location.reload();        
       console.log(request.responseText);
    }); 
  }

function getMonths(mno) {
    var month = ["Jan","Feb","March","April","May","June","July","Aug","Sep","Oct","Nov","Dec"];
    return month[mno-1];
}


</script>

	</body>
	</html>
