<%- layout('layout/layout.ejs') %> 
        
<%- include('partials/topbar.ejs') %>
  <div id="viewscreen" >
    <%- include('partials/sidenavbar.ejs') %>
    <div id="rightview">
      <div class="container-fluid " style="padding:0">
        <div class="row">
          <div class="col-lg-12" style="padding:0;">

          <div class="community-header-top"></div>

          <div class="container">
            <div class="col-sm-2 ">
              <img src="<%= newdata.commphoto%>" class="img-communityprofile-pic" style="background:#fff">
            </div>

            <div class="col-sm-8 communityprofile-name-pc ">
              <a href="/community/communityProfile/<%=newdata._id%>">
                 <p><%= newdata.name %></p>
              </a>
            </div>
          </div>

          <center>
              <hr style="border-top:2px solid #E6E6E6;width:85%;">
          </center>

<div class="container">
    <div class="col-sm-3">
      <div class="panel panel-default" style="border-radius:0;margin-left: 10%;">
      
        <div class="panel-body" style="border:0;border-radius:0;">
          <div style="float: right">
            <a href="/community/showCommunityMembers/<%=newdata._id%>">View All</a>
          </div>
          
        </div>
        <div class="panel-footer">
            <p class="center-all" style="margin:0">
              <%= newdata.commuser.length %> Members
              <a href="" id="leaveComm" style="float: right;visibility: hidden;">Leave Community</a>
            </p>
        </div>
      </div>

      <div class="panel panel-default" style="border-radius:0;margin-left: 10%;">
        <div class="panel-heading" style="border:0;border-radius:0">
            Community Managers
        </div>

  <div class="panel-body" style="border:0;border-radius:0">
    <div id="commuity-owner-detail">

            <div class="col-sm-12">  
              <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4">      
                  <img id="setImage" src="/default.png" style="width: 40px;height: 40px;" class="adminPic allSides" id="dpimage">
              </div>

              <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8" style="padding:0">  
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0">    
                  <span class="label label-success" style="margin-top:10px;">Owner</span>  
                </div>   

                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0;">    
                  <a href="/community/viewprofile/<%= newdata.ownerId %>"><%= newdata.owner %></a>  
                </div>
             </div>
           </div>
    </div>
            
    </div>
  </div>
</div>

    <div class="col-sm-8 col-xs-12 separator-community-admin" style="padding:0 10px 10px 10px;">

      <div class="panel panel-default" style="border-radius:0">
        <div class="panel-heading" style="border:0;border-radius:0">
          About Community
        </div>

        <div class="panel-body" style="border:0;border-radius:0;">
               <%= newdata.desc %> 
        </div> 
      </div>
    </div>
</div>

<div></div></div></div></div></div>
        
<script src="/js/joinNewCommunity.js"></script>

<script>

var a = "<%= data.name %>";
var b = "<%= newdata.owner %>"
var leaveComm = document.getElementById('leaveComm');
var commid ="<%= newdata._id %>";
  
if(a != b) {
  leaveComm.setAttribute("style", "visibility: visibile")
  leaveComm.setAttribute("style", "float: right")
}

if(a == b)
{
  leaveComm.setAttribute("style", "visibility: hidden")
}

var obj = new Object();
obj.commid = commid;
leaveComm.onclick=function() {
  var request = new XMLHttpRequest()
  request.open('POST','/community/leaveCommunityBYUser');
  request.setRequestHeader("Content-Type","application/json");
  request.send(JSON.stringify(obj))
  request.addEventListener("load",function() {
    alert("Community is Left")
    window.location = "community/joinedCommunities"
  }); 
}
</script>

</html>