<!DOCTYPE html>
<html >
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="/css/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="/css/header.css" rel="stylesheet" type = "text/css">
        <link href="/css/addNewCommunity.css" rel="stylesheet" type = "text/css">
        <link href="/css/communityInfo.css" rel="stylesheet" type = "text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/openpanel.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        
        <link rel="stylesheet" type="text/css" href="/css/trumbowgy.css">

         <style>

    #commHeader
{
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);

}
#first-btn
{
    border: 1px solid #fff !important;
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
    background-color: rgba(255,255,255,0.1) !important;
    margin-left: 100px;
}
#search-btn
{
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #fff;
}

  </style>


    </head>

    <body class="body">
        <% include partials/usertop-bar.ejs %>
        <div id="viewscreen" >
            <% include partials/side-navbar.ejs %>
  
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12" style="padding:0;">


<div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
  
    <center>
        <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
          <a href="" style="color:white">
            
          </a>
        </div>
    </center>

   

</div>

<!-- second -->


<div class="container community-profile-conatiner">
<div class="col-sm-2 col-xs-12 center-mobile pc">
<a href="">
  <img src="<%=newdata.commphoto%>" class="img-communityprofile-pic allSides" style="background:#fff">
</a>
</div>

<div class="col-sm-8 communityprofile-name-pc communityprofile-system">
  <a href="" class="communityprofile-name-pc">
     <p><%=newdata.name%></p>
  </a>
</div>

<div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">

    
      <li>
          <a href="/community/discussion/<%=newdata._id%>" class="community-profile-option-btn">
            Discussions
          </a>
      </li>
    

    
      <li>
          <a href="/community/setting/<%=newdata._id%>" class="community-profile-option-btn">
            Manage Community
          </a>
      </li>
    

      <li>
          <a href="/community/info/<%=newdata._id%>" class="community-profile-option-btn">
            Community Profile
          </a>
      </li>

      <li>
          <a href="" class="community-profile-option-btn">
            Community Members
          </a>
      </li>

    </ul>
</div>
</div>


</div>

<!-- third -->

<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>
<style>
  .child-reply-input{
    display: none !important;
  }
</style>

<!--  for -->


    <div class="container">
    <div style="margin-top:30px;">  
        <div class="col-12">
            <div class="card allSidesSoft">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="image-container communitypicform" method="post" enctype="multipart/form-data" action="">
                            <img src="<%=newdata.commphoto%>" id="profilepic" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft">
                    
                        </div>
                        <div class="ml-auto">
                            <input type="button" class="btn btn-danger btn-sm d-none" id="btnDiscard" value="Discard Changes">
                        </div>
                    </div>
                    <br>
           
                    <div class="panel-group">
                        <div class="form-group">
                           <label>Community Name :</label>
                           <input type="text" value="<%=newdata.name%>" class="form-control" name="communityName" maxlength="70" required="" id="commname">
                        </div>
                        <div class="form-group">
                            <label>Community Rule:</label>
                            <select class="form-control" name="communityMembershipRule" id="commrule">
                                <option value="Permission">Private</option>
                                <option value="Direct" selected="">Direct</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Community Description:</label>
                            <textarea type="text" class="form-control trumbowyg-textarea" rows="15" name="communityDescription" id="description" required="" tabindex="-1" style="height: 260px;"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary pull-right btnEditForm" style="margin:1px" value="Update" onclick="EditcommunityList()">
                      </div>
          
                </div>
           </div>
        </div>
    </div>
</div>


<!--Header-->


    

</div></div></div>

                    <div>
                      
                 </div>
                    </div>
                </div>

            </div>


        </div>
  
        <script src="/js/trumbowgy.js"></script>

<script type="text/javascript">
var profilepic = document.getElementById("profilepic");
document.getElementById('commrule').value = <%-JSON.stringify(newdata)%>.rule;

var commname = document.getElementById("commname");
var commrule = document.getElementById("commrule");
var description = document.getElementById("description");

function EditcommunityList()
{
  var obj1 = new Object();
  obj1._id = <%-JSON.stringify(newdata)%>._id;
  obj1.name = commname.value;
  obj1.rule = commrule.value;
  obj1.desc = description.value;
  console.log(obj1);

  var request = new XMLHttpRequest();
      request.open('POST', '/community/updatecommdetails');
      request.setRequestHeader("Content-Type","application/json");
      request.send(JSON.stringify(obj1))
      request.addEventListener("load",function()
          {
             console.log(request.responseText);
          });
      window.location = '/community/setting/'+ obj1._id;
}

$.trumbowyg.svgPath = '/css/trumbowgy.svg';
    $('#description').trumbowyg();
       
</script>

	</body>
	</html>
