<!DOCTYPE html>
<html >
    <head>
        <title>Invite Users</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="/css/partials.css" rel="stylesheet" type = "text/css">
        <link href="/css/style.css" rel="stylesheet" type = "text/css">
        <link href="/css/communityInfo.css" rel="stylesheet" type = "text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        
        <link rel="stylesheet" type="text/css" href="/css/trumbowgy.css">
</head>

<body class="body">
  <%- include('paritials/topbar.ejs') %>
  <div id="viewscreen" >
    <%- include('paritials/sidenavbar.ejs') %>
    <div id="rightview">
      <div class="container-fluid">
        <div class="row">
          <div class="community-header-top" ></div>    

          <div class="container">
            <div class="col-sm-2 ">
              <img src="<%=newdata.commphoto%>" class="img-communityprofile-pic" >
            </div>

            <a href="/community/communityProfile/<%=newdata._id%>" class="communityprofile-name-pc">
                 <p><%=newdata.name%></p>
            </a>

            <div class="col-sm-2" style="padding-top:5px;float:right">
              <div class="dropdown">
                <button class="btn btn-default commuity-profile-menu-btn" data-toggle="dropdown">
                  <i class="fa fa-bars"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" style="margin-top:40px">

                  <li>
                    <a href="/community/discussion/<%=newdata._id%>">
                      Discussions
                    </a>
                  </li>
                  <li>
                    <a href="/community/setting/<%=newdata._id%>">
                      Manage Community
                    </a>
                  </li>
                  <li id="hideProfile">
                      <a href="/community/info/<%=newdata._id%>">
                        Community Info
                      </a>
                  </li>
                  <li>
                      <a href="/community/showCommunityMembers/<%=newdata._id%>">
                        Community Members
                      </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
                        
          <center>
              <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
          </center>

<div class="container">
  <div style="border-bottom:1px solid #c4c4c4">
    <label style="font-size: 15px;margin-left: 2%;">
      Manage Community
    </label>

    <a href="/community/inviteUser/<%=newdata._id%>" style="float:right;font-weight:600">
      Invite Users
    </a>
  
    <a href="/community/editCommunity/<%=newdata._id%>" id="editCommunityOption" style="float:right;font-weight:600;margin-right:15px;display: block;">
     <p> Edit Community </p>
    </a>
  </div>

  
  <div class="col-sm-3 col-lg-3 col-md-3 col-xs-7" style="margin-left: 2%;margin-right: 5%;">

    <h4>Search Here:</h4>

    <input type="text" class="form-control" id="searchinput" placeholder="Enter name..." style="margin-top:4px;" onkeyup="findUsers()">

    <center><h4>OR</h4></center>

    <input type="file" id="userfile" placeholder="Upload a file" accept=".csv">

  </div>
  <div class="col-sm-7 col-lg-7 col-md-7 col-xs-5" style="border-left:1px solid #CCCCCC">
   
       <div id="comlist">
      </div>
  </div>
</div>

</div>
  
<script>

var data;
var commid ="<%= newdata._id %>";
var email_id ="<%= data.email %>";

$(document).ready(function() {
    initalisemanagersWithOutDom();
    getUsersOtherThanInCommunity();
})

function initalisemanagersWithOutDom() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()  {
      var data=JSON.parse(xml.responseText);
      for(i in data)
      {
        if(email_id == data[i].email)
        {
          document.getElementById('hideProfile').setAttribute("style", "display:none");
          document.getElementById('editCommunityOption').style.display = 'none';
        }
      }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function getUsersOtherThanInCommunity() {

  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getUsersOtherThanInCommunity");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function() {
      data=JSON.parse(xml.responseText);
      for(i in data)
      {
        addtoDom(data[i])
      }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function findUsers() {
  document.getElementById('comlist').innerHTML=""
  var val=document.getElementById('searchinput').value;
  for(j in data)
  {     
    if((data[j].name).includes(val)) 
    {
      addtoDom(data[j]);
    }
  }
}

function addtoDom(obj) {

  var div1=document.createElement('div')
  div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div")
  div1.setAttribute("style","margin-top:5px;display:flex;")
  var div2=document.createElement('div')
  div2.setAttribute("class","col-sm-2 col-xs-3")
  div2.setAttribute("style","padding:5px;")
  var a1=document.createElement('a')
  a1.setAttribute("href","")
  var img1=document.createElement('img')
  img1.setAttribute("src",obj.photoname)
  img1.setAttribute("class","community-member-pic")
  img1.setAttribute("id","dpimage")
  img1.setAttribute("style", "width:50px;height:50px;")
  a1.appendChild(img1)
  div2.appendChild(a1)
  div1.appendChild(div2)
  var div3=document.createElement('div')
  div3.setAttribute("class","col-sm-8 col-xs-6 scrollable")
  div3.setAttribute("style", "margin-top: 25px;");
  var a2=document.createElement('a')
  a2.setAttribute("class","comusername")
  a2.innerHTML=obj.name
  a2.setAttribute("href","/community/viewprofile/" + obj._id)
  div3.appendChild(a2)
  div1.appendChild(div3)
  var div4=document.createElement('div')
  div4.setAttribute("class","col-sm-2 col-xs-3")
  div4.setAttribute("style", "margin-top: 3%;")
  var btn1 = document.createElement('button')
  btn1.setAttribute("class","btn btn-success")
  btn1.innerHTML = "Invite"
  btn1.onclick=function() {
    var ob = new Object();
    ob.commid = commid;
    ob.userid = obj._id;
        var request = new XMLHttpRequest();
        request.open('POST','/community/inviteUserComm');
        request.setRequestHeader("content-Type","application/JSON");
        request.send(JSON.stringify(ob));
        request.onload = function()  {
          document.getElementById('comlist').removeChild(div1)
        }
  }
  div4.appendChild(btn1)
  div1.appendChild(div4)
  document.getElementById('comlist').appendChild(div1)
}

document.getElementById('userfile').onchange=()=>{
    readTextFile();
}

function readTextFile() {

  var flag = 1;
  var reader = new FileReader();
  reader.onload=()=>{
    document.getElementById('userfile').value="";
    var arr=reader.result.split("\n");
    arr.pop();
    var head=arr[0].split(',');
    for(var i=0;i<head.length;i++)
    {
      for(j in data)
      {      
        if((data[j].email).includes(head[i])) 
        {
          flag = 2;
          console.log(data[j])
          var ob = new Object();
          ob.commid = commid;
          ob.userid = data[j]._id;
          var request = new XMLHttpRequest();
          request.open('POST','/community/inviteUserComm');
          request.setRequestHeader("content-Type","application/JSON");
          request.send(JSON.stringify(ob));
          request.onload = function()
          {}
        }
      }
    }
    if(flag == 2)
    {
      alert("Invitation Sent to All Users")
      location.reload();
    }
    else if(flag == 1)
    {
      alert("Users are already in Community")
    }
  }
  reader.readAsBinaryString(document.getElementById('userfile').files[0]);
}
</script>

</body>
</html>