<!DOCTYPE html>
<html >
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="/css/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="/css/header.css" rel="stylesheet" type = "text/css">
        <link href="/css/addNewCommunity.css" rel="stylesheet" type = "text/css">
        <link href="/css/communityInfo.css" rel="stylesheet" type = "text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/openpanel.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        
        <link rel="stylesheet" type="text/css" href="/css/trumbowgy.css">

         <style>

    #commHeader
{
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);

}
#first-btn
{
    border: 1px solid #fff !important;
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
    background-color: rgba(255,255,255,0.1) !important;
    margin-left: 100px;
}
#search-btn
{
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #fff;
}

#dpimage
{
    cursor: pointer !important;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

  </style>


    </head>

    <body class="body">
         <%- include ('partials/usertop-bar.ejs') %>
        <div id="viewscreen" >
            <%- include ('partials/side-navbar.ejs') %>
  
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12" style="padding:0;">


<div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
  
    <center>
        <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
          <a href="" style="color:white">
            
          </a>
        </div>
    </center>

   

</div>

<!-- second -->


<div class="container community-profile-conatiner">
<div class="col-sm-2 col-xs-12 center-mobile pc">
<a href="">
  <img src="<%=newdata.commphoto%>" class="img-communityprofile-pic allSides" style="background:#fff">
</a>
</div>

<div class="col-sm-8 communityprofile-name-pc communityprofile-system">
  <a href="/community/communityProfile/<%=newdata._id%>" class="communityprofile-name-pc">
     <p><%=newdata.name%></p>
  </a>
</div>

<div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">

    
      <li>
          <a href="/community/discussion/<%=newdata._id%>" class="community-profile-option-btn">
            Discussions
          </a>
      </li>
    

    
      <li id="hideManage">
          <a href="/community/setting/<%=newdata._id%>" class="community-profile-option-btn">
            Manage Community
          </a>
      </li>
    

      <li id="hideProfile">
          <a href="/community/info/<%=newdata._id%>" class="community-profile-option-btn">
            Community Profile
          </a>
      </li>

      <li>
          <a href="/community/showCommunityMembers/<%=newdata._id%>" class="community-profile-option-btn">
            Community Members
          </a>
      </li>

    </ul>
</div>
</div>


</div>

<!-- third -->

<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>
<style>
  .child-reply-input{
    display: none !important;
  }
</style>

<!--  for -->

<div class="container">

<div style="margin-top:20px;margin-bottom:50px">
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
    <a class="communitymembers-head-btn" id="admins-list-btn" style="font-size: 20px;" onclick="initaliseManagers()">
      Managers (0)
    </a>
  </div>
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
    <a class="communitymembers-head-btn active-link-btn" onclick="initaliseusers()" id="users-list-btn" style="font-size: 20px;">Members (0)</a>
  </div>
  <div class="col-sm-12">
      
      <div id="comUsersList">

 </div>
    </div>
  </div>
</div> <!--Header-->

</div></div></div>
                    <div>                     
                 </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">

  var hideManage = document.getElementById('hideManage');
  var commid ="<%= newdata._id %>";
  var email_id ="<%= data.email %>";

$(document).ready(function() {
    initaliseusers();
    initaliseManagersWithDom();
})

function initaliseusers()
{
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getUsers");
  xml.setRequestHeader("Content-Type","application/json");
    document.getElementById('comUsersList').innerHTML=""
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      if(data.length==0)
      {
        noUser();
      }
      else
      for(i in data)
      {
        addtoUserDOM(data[i])
      }
      document.getElementById('users-list-btn').innerHTML="Members ("+data.length+")"
      document.getElementById('users-list-btn').style.fontWeight = 'bold';
      document.getElementById('admins-list-btn').style.fontWeight = 'normal';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initaliseManagers()
{
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
    document.getElementById('comUsersList').innerHTML=""
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      if(data.length==0)
      {
        noUser();
      }
      else
      for(i in data)
      {
        addtoUserDOM(data[i])
      }
      document.getElementById('admins-list-btn').innerHTML="Managers ("+data.length+")"
      document.getElementById('admins-list-btn').style.fontWeight = 'bold';
      document.getElementById('users-list-btn').style.fontWeight = 'normal';
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initaliseManagersWithDom()
{
  var xml=new XMLHttpRequest();
  xml.open("POST","/community/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
    document.getElementById('comUsersList').innerHTML=""
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      document.getElementById('admins-list-btn').innerHTML="Managers ("+data.length+")"
      for(i in data)
      {
        if(email_id == data[i].email)
           document.getElementById('hideProfile').setAttribute("style", "display:none");
      }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function noUser()
{
  console.log('fdsfgsg')
  var div1=document.createElement('div')
  div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div")
  div1.setAttribute("style","margin-top:5px;display:flex;")
  var div3=document.createElement('div')
  div3.setAttribute("class","col-sm-8 col-xs-6 scrollable")
  div3.setAttribute("style", "margin-top: 25px;");
  var a2=document.createElement('a')
  a2.setAttribute("class","comusername")
  a2.innerHTML="There are no Users"
  a2.setAttribute("href","")
  div3.appendChild(a2)
  div1.appendChild(div3)
    document.getElementById('comUsersList').appendChild(div1)
}

function addtoUserDOM(obj)
{
  console.log(obj)
   if(obj.email == email_id)
  {
     hideManage.setAttribute("style", "display:none");
  }
  var div1=document.createElement('div')
  div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div comUsersFxnCall")
  div1.setAttribute("style","margin-top:5px;")
  var div2=document.createElement('div')
  div2.setAttribute("class","col-sm-2 col-xs-5")
  div2.setAttribute("style","padding:5px;")
  var a1=document.createElement('a')
  a1.setAttribute("href","")
  var img1=document.createElement('img')
  img1.setAttribute("src",obj.photoname)
  img1.setAttribute("class","community-member-pic")

  img1.setAttribute("style", "width:50px;height:50px;")
  a1.appendChild(img1)
  div2.appendChild(a1)
  div1.appendChild(div2)
  var div3=document.createElement('div')
  div3.setAttribute("class","col-sm-10 col-xs-7 scrollable")
  div3.setAttribute("style", "margin-top: 25px;");
  var a2=document.createElement('a')
  a2.setAttribute("class","comusername")
  a2.innerHTML=obj.name
  a2.setAttribute("href","/community/viewprofile/" + obj._id)
  div3.appendChild(a2)
  div1.appendChild(div3)
 
  document.getElementById('comUsersList').appendChild(div1)
}

</script>
</body>
</html>